/*The first thing we're going to add is a global reset and box-sizing rule. This will make sure that padding applied to our elements is added within their calculated dimensions, giving us far more freedom for defining column widths.*/
@import "variables";
@import "mixins";

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    @include border-box;
    }
/*Next we'll add a rule to make sure any images used behave fluidly.*/
img {
    width: auto;
    max-width: 100%;
    height: auto !important;
    }
/*Now some rules to make sure our wrapper element behaves itself.*/
.wrapper {
    width: 100%;
    margin: 0 auto;
}

/*All our row elements do is contain the columns, making sure that groups of columns clear each other properly. Let's add some general .clearfix rules to our wrapper and row elements.*/
.wrapper, .row {
  @extend %clearfix;
}
/*We're going to have a range of column classes, depending on the size of each one (for example .column-1 and .column-6. Let's use an attribute selector to target and style all of these in one go.*/
[class*='column-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px;
    border-radius: 5px;
    }
/*That's our mobile view taken care of, now let's add a media query to give us a different layout for larger screens. You'll need to determine breakpoints for your own grid, but we're going to use one arbitrary breakpoint of 30em.*/
@media #{$breakpoint-medium} {
    .wrapper {
        width: 95%;
        max-width: $grid-max-width;
    }
    @for $i from 1 through 12 {

    .column-#{$i} {
        width: 100% / $grid-columns * $i;
    }
  }
}

.nav-icons {
  fill: $nav-icons-color;
  height: 40px;
  width: 40px;
}

.nav-list {
  list-style: none;
  text-align: center;
}
.nav-list li {
  display: inline-block;
  font-size: 12px;
  color: $nav-icons-color;
  text-align: center;
  margin: 5px;
}

.header-list-right {
  list-style: none;
}

.header-list-right li {
  display: inline-block;
  margin: 5px;
}

.header-list-right li a {
  text-decoration: none;
}
.header-list-right li a span {
  color: $under-splash-color;
}


.main-section {
  width: auto;
  max-width: 100%;
  height: auto !important;
  background: url(../img/birds.jpg) no-repeat bottom center scroll;
  height: 500px;
  @include img-cover;
}

.large-font {
  font-size: 88px;
  color: $splash-color;
  font-family: 'Damion', cursive;
  letter-spacing: .07em;
}

.splash-paragraph {
  width: 50%;
  color: #000;
  margin-bottom: 75px;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 23px;
  background: $splash-color;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
}

.splash-btn {
  background: $splash-color;
}

.header-btn {
  background: $under-splash-color;
  font-size: 16px;
  margin-top: auto;
}

.btn:hover {
  text-decoration: none;
}

.inner-splash-page-content {
  margin: 35px;
}

.crest {
  fill: $under-splash-color;
}
